* {
    box-sizing: border-box;
  }

h1, h2, p, img{
    width: 100%;
      max-width: 600px;
      min-width: 275px;
}

h1 {
    margin-top:  70px;
}

p {
    padding-bottom: 40px;
}

h2 {
    margin-top: 0;
}
  
  body {
    font-family: sans-serif;
    padding: 20px;
    font-size: 1.3rem;
    /* max-width: 600px; */
    margin: 0 auto;
    color: rgb(235, 235, 235);
    background-color: rgb(22, 22, 22);
  }

  
  a {
    color: rgb(235, 235, 235);
  }
  
  .header {
    font-size: 20vw;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 40px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .side-by-side {
      display: grid;
      grid-template-columns: minmax(min-content, max-content) 1fr;
      grid-auto-rows: auto;
      grid-gap: 40px;
  }

  .left {
      grid-column: 1 / 2;
      width: 100%;
      max-width: 600px;
      min-width: 275px;
      padding: 20px;
  }

  .full {
    padding: 20px;
    grid-column: 1 / 3;
  }

  .left > h1 {
      font-size: 3rem;
  }

  /* .left > img {
      display: block;
      width: 275px;
     margin: 40px auto;

  } */

  .right {
    grid-column: 2 / 3;
    padding: 20px;
  }

  .dot {
      padding: 40px;
  }


  .dots1 {
      opacity: 1;
      border-top: 50px dashed;
  }

  .dots2 {
    opacity: 0.9;
    border-top: 45px dashed;
}

.dots3 {
    opacity: 0.8;
    border-top: 40px dashed;
}

.dots4 {
    opacity: 0.7;
    border-top: 35px dashed;
}

.dots5 {
    opacity: 0.6;
    border-top: 30px dashed;
}

.dots6 {
    opacity: 0.5;
    border-top: 25px dashed;
}

.dots7 {
    opacity: 0.4;
    border-top: 29px dashed;
}

.dots8 {
    opacity: 0.3;
    border-top: 15px dashed;
}
.dots9 {
    opacity: 0.2;
    border-top: 10px dashed;
}
.dots10 {
    opacity: 0.1;
    border-top: 7px dashed;
}
  
  
  
  
  
  /* footer {
    border-top: 2px dashed rgb(22, 22, 22);
    padding: 20px 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .footer-item {
    padding-right: 30px;
    padding-bottom: 10px;
  } */
